<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="peyto.ide.dao.api.ApplicationDao">

	<insert id="add">
		INSERT INTO ide_application_list
		(application_name, application_description, created_by, created_date, updated_by, updated_date)
		VALUES (#{applicationName}, #{applicationDescription}, #{createdBy}, #{createdDate}, #{updatedBy}, #{updatedDate})
	</insert>
	
	<select id="getItems" resultType="peyto.ide.dto.ApplicationDto">
		SELECT application_id
			 , application_name
			 , application_description
			 , created_by
			 , created_date
			 , updated_by
			 , updated_date
		FROM ide_application_list
		ORDER BY application_name ASC
	</select>
	
	<update id="update">
		UPDATE
			ide_application_list
		SET application_name        = #{applicationName}
		  , application_description = #{applicationDescription}
		  , updated_by              = #{updatedDate}
		  , updated_date            = #{updatedDate}
		WHERE application_id = #{applicationId}
	</update>

	<delete id="delete">
		DELETE
		FROM ide_application_list
		WHERE application_id = #{applicationId}
	</delete>

</mapper>