<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="peyto.ide.dao.api.MessageDao">

	<insert id="add">
		INSERT INTO ide_message_list
		(application_id, message_name, message_description, created_by, created_date, updated_by, updated_date)
		VALUES (#{applicationId}, #{messageName}, #{messageDescription}, #{createdBy}, #{createdDate}, #{updatedBy}, #{updatedDate})
	</insert>
	
	<select id="getItemsByApplicationId" resultType="peyto.ide.dto.MessageDto">
		SELECT message_id
			 , application_id
			 , message_name
			 , message_description
			 , created_by
			 , created_date
			 , updated_by
			 , updated_date
		FROM ide_message_list
		WHERE application_id = #{applicationId}
		ORDER BY message_name ASC
	</select>
	
	<update id="update">
		UPDATE
			ide_message_list
		SET message_name= #{messageName}
		  , message_description= #{messageDescription}
		  , updated_by = #{updatedDate}
		  , updated_date = #{updatedDate}
		WHERE message_id = #{messageId}
	</update>

	<delete id="delete">
		DELETE
		FROM ide_message_list
		WHERE message_id = #{messageId}
	</delete>

</mapper>