<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="peyto.ide.dao.api.TemplateCategoriesDao">

	<insert id="add">
		INSERT INTO
			ide_template_categories
			(category_code, category_name, description, created_by, created_date)
		VALUES (#{categoryCode}, #{categoryName}, #{description}, #{createdBy}, #{createdDate})
	</insert>

	<select id="getItems" resultType="peyto.ide.dto.TemplateCategoryDto">
		select
		    id
		    , category_code
		    , category_name
		    , description
			, created_by
			, created_date
			, updated_by
			, updated_date
		from
			ide_template_categories
		order by
		    category_name asc
    </select>

	<select id="getItem" resultType="peyto.ide.dto.TemplateCategoryDto">
		select
			id
			, category_code
			, category_name
			, description
			, created_by
			, created_date
			, updated_by
			, updated_date
		from
		    ide_template_categories
		where
			id = #{id}
		order by
		    category_name asc
	</select>

	<select id="getItemByCategoryCode" resultType="peyto.ide.dto.TemplateCategoryDto">
		select
			id
			, category_code
			, category_name
			, description
			, created_by
			, created_date
			, updated_by
			, updated_date
		from
			ide_template_categories
		where
			category_code = #{categoryCode}
		order by
			category_name asc
	</select>

	<update id="update">
		UPDATE
			ide_template_categories
		SET
			category_code = #{categoryCode}
			, category_name = #{categoryName}
			, description = #{description}
			, updated_by = #{updatedBy}
			, updated_date = #{updatedDate}
		WHERE
			id = #{id}
	</update>

	<delete id="delete">
		DELETE FROM
			ide_template_categories
		WHERE
			id = #{id}
	</delete>

</mapper>