<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="peyto.ide.dao.api.TemplateCategoryDao">

<!-- 
	int addLevel1(TemplateCategoryDto dto);
	List<TemplateCategoryDto> getListOfLevel1();
	int updateLevel1(TemplateCategoryDto dto);
	int removeLevel1(int level1Id);

	int addLevel2(TemplateCategoryDto dto);
	List<TemplateCategoryDto> getListOfLevel2();
	int updateLevel2(TemplateCategoryDto dto);
	int removeLevel2(int level1Id);
-->

    <select id="getListOfLevel1" resultType="peyto.ide.dto.TemplateCategoryDto">
		select
			id
			, parent_id
			, depth
			, name
			, description
			, created_by
			, created_date
			, updated_by
			, updated_date
		from
			ide_template_category_list
		where
			depth = 1
			and parent_id is null 
		order by
			name asc
    </select>

    <select id="getListOfLevel2" resultType="peyto.ide.dto.TemplateCategoryDto">
		select
			id
			, parent_id
			, depth
			, name
			, description
			, created_by
			, created_date
			, updated_by
			, updated_date
		from
			ide_template_category_list
		where
			depth = 2
			and parent_id = #{level1Id}
		order by
			name asc
    </select>

</mapper>